/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0px 30px 30px 30px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
}

html {
  height: 100%;
}

p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.items {
  font-size: 10px;
}

#banner {
	background: #ffffff;
	border-bottom: 2px solid;
	border-color: #e6e6e6;
	text-align: center;

	img {
		width: 400px;
		height: 100%;
	}
}

#notice {
color: #000 !important;
border: 2px solid #0099ff;
padding: 1em;
margin-bottom: 2em;
background-color: #ffffff;
font: bold smaller sans-serif;
}

#columns {
	background: #ffffff;
	#main {
		margin-left: 17em;
		margin-right: 14em;
		padding: 1em;
		padding-top: 0px;
		border-color: #e6e6e6;
	}

	#side::-webkit-scrollbar { 
    	display: none;  
	}

	#side {
		overflow:hidden;
	    overflow-y:scroll;
		position: fixed;
		float: left;
		padding: 1em 1em;
		width: 17em;
		height:100%;
		background: #ffffff;

		form, div {
			display: inline;
		}

		input {
			font-size: small;
		}

		#cart {
			font-size: smaller;
			table {
				border-top: 1px dotted #bfbfbf;
				border-bottom: 1px dotted #bfbfbf;
				margin-bottom: 10px;
			}
		}

		ul {
			margin-top: 20px;
			padding: 0;

			li {
				list-style: none;
				padding-bottom: 15px;
			
				a {
					color: #0099ff;
					font-weight: bold;
					text-decoration: none;

				  	&:hover {
					    color: #ff9966;
				 	}
				}
			}
		}
	}
}

legend {
	border-radius: 5px;
	color: #0099ff;
	font-family: sans-serif;
	padding: 0.2em 1em;
	text-align: center;
}

#pics {
  margin: 0 auto;
  width: 100%;

  .box {
	  margin: 15px;
	  width: 100%;
  	  height: auto;
	  box-shadow: 0 1px 1px 0 rgba(82,158,204, 0.48);
	  border: none;
	  text-align: center;

	  img {
	  	width: 100%;
	  	height: 295px;
	  }

	  h2 {
	  	font-size: 18px;
	  	margin: 0;
	  	font-weight: bold;
	  	padding: 25px 10px;

	  	a {
				color: #529ECC;
	  	}
	  }
	}
}

textarea {
	min-height: 50px;
	resize: none;
}

nav{
    padding-top: 8px;
    height: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.logout {
	color: #337ab7;
	border: none;
	background-color: white;
	float: right;
	padding-right:0;
	&:hover {
		color: #ff9966;
	}
}
