// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
	.entry {
		h3 {
			font-size: 120%;
			font-family: sans-serif;
			color: #0099ff;
			font-weight: bold;
		}
		.card-text {
			text-align: left;
			padding: 3px;
		}
		.price {
			color: #737373;
			font-weight: bold;
		}
	}
}